  <div class="row">
    <h1>Home Page</h1>
    <br><h6>Username</h6><%= @trainer.username %>
    <br><h6>Money</h6><%= @trainer.money %>
    <br><h6>Pokemon Count</h6><%= @trainer.pokemons.count %>
    <br><h6>Player Since</h6><%= @trainer.created_at.strftime("%B %d, %Y") %>
  
  </div>